# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

/.vs
node_modules/
dist/
*.log
pnpm-lock.yaml
/B2B.Helper.Server/wwwroot/autojs
/B2B.Helper.Server/wwwroot/assets
/B2B.Helper.Server/wwwroot/favicon.svg
/B2B.Helper.Server/wwwroot/index.html
/B2B.Helper.Server/wwwroot/logo.png
/B2B.Helper.Server/wwwroot/slider
/B2B.Helper.Server/wwwroot/autojs
/B2B.Helper.Server/wwwroot/*.apk
/B2B.Helper.Server/wwwroot/temp
/B2B.Helper.Server/App_Data/appsettings.Localhost.json
/B2B.Helper.Server/.vs/B2B.Helper.Server/FileContentIndex
/B2B.Helper.Server/.vs/B2B.Helper.Server/v17
/B2B.Helper.Server/.vs
/B2B.Helper.Server/wwwroot/app
/B2B.Helper.Server/wwwroot/home
/B2B.Helper.Server/wwwroot/slider
/B2B.Helper.Server/wwwroot/temp
/B2B.Helper.Server/wwwroot/favicon.svg
/B2B.Helper.Server/wwwroot/index.html
/B2B.Helper.Server/wwwroot/logo.png
/B2B.Helper.Server/App_Data/temp
