@forward './scrollbar.scss';

:root {
  --color-primary: #007be0;
  --color-primary-light: rgba(0, 123, 224, 0.64);
  --color-success: #5fb23a;
  --color-success-light: #f6ffed;
  --color-info: #1677ff;
  --color-info-light: #e6f4ff;
  --color-warning: #faad14;
  --color-warning-light: #fffbe6;
  --color-danger: #ff4d4f;
  --color-danger-light: #fff2f0;
  --color-secondary: #e4e7ea;
  --color-secondary-light: rgba(228, 231, 234, 0.64);
  --color-purple: #531dab;
  --color-purple-light: #f9f0ff;
  --color-pink: #c41d7f;
  --color-pink-light: #fff0f6;
  --color-cyan: #08979c;
  --color-cyan-light: #e6fffb;
  --color-yellow: #d48806;
  --color-yellow-light: #fffbe6;
  --color-brown: #8d6658;
  --color-brown-light: rgba(141, 102, 88, 0.64);
  --color-dark: #515d70;
  --color-dark-light: rgba(81, 93, 112, 0.64);
  --text-color: #1e1e1e;
  --text-dark-color: #dddddd;

  --slider-height: 40px;

  @media (min-width: 960px) and (max-width: 1920px) {
    --slider-height: 34px;
  }
}

.flex {
  display: flex;

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.v-center {
    align-items: center;
  }

  &.v-start {
    align-items: flex-start;
  }

  &.col {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.text-center {
  text-align: center;
}

.ant-btn-link {
  &.ant-btn-loading {
    span {
      &.anticon:has(svg) {
        display: none;
      }

      &.anticon-loading {
        display: inline-flex !important;
      }
    }
  }
}

.cny {
  color: #ff5000;

  &::before {
    content: '￥';
    padding-right: 2px;
  }
}

.text-danger {
  color: var(--color-danger);
}

.text-success {
  color: var(--color-success);
}

.text-warn {
  color: var(--color-warning);
}

.text-info {
  color: var(--color-info);
}

.text-purple {
  color: var(--color-purple);
}
